p {
  font-size: 20px;
  color: #2e4a62;
}
.exerciseDiv {
  height: 760px;
}
@media only screen and (max-width: 668px) {
  .form {
    width: 100%;
    font-size: 1em;
    margin-bottom: 2%;
    text-align: center;
  }
  .margin-right {
    margin-right: 10%;
  }
  .graph {
    display: none;
  }
}
