input {
  max-width: 16%;
  height: 25px;
  font-size: 16px;
  margin-bottom: 1%;
  border-radius: 10px;
  margin-left: 5%;
}

.form {
  margin-top: 5% auto;
  /* margin-left: 5%; */
  /* text-align: center; */
}
