input {
  max-width: 16%;
  height: 25px;
  font-size: 16px;
  margin-bottom: 1%;
  border-radius: 10px;
  margin-left: 5%;
  background: lightslategray;
}
.signBtn {
  width: 8%;
  height: 45px;
  font-size: 16px;
  border-radius: 10px;
}
.form {
  margin-top: 5%;
  margin-left: 5%;
}
h2 {
  margin-left: 5%;
}
.goalsh3 {
  border: 1px solid gray;
  background: gray;
  padding: 1%;
  width: 20%;
  margin: 2% 0 0 1%;
  border-radius: 10px;
  opacity: 0.7;
}
.goals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.goalsh3 button {
  margin-left: 15%;
  background: lightslategray;
  border-radius: 10px;
}
.goalsh3 h3 {
  text-align: center;
}
