button {
  width: 20%;
}
.loginDiv {
  font-size: 24px;
  height: auto;
  width: 100%;
  margin-top: 3%;
  height: auto;
  text-align: center;
}

.regDiv {
  text-align: center;
  font-size: 24px;
  height: auto;
}

@media only screen and (max-width: 888px) {
  .register-icon {
    padding-right: 7%;
  }
}
@media only screen and (max-width: 668px) {
  .register-icon {
    padding-right: 7%;
  }
}
