button {
  width: 20%;
}
.loginDiv {
  font-size: 24px;
  height: auto;
  width: 100%;
  height: auto;
  text-align: center;
}

.regDiv {
  text-align: center;
  font-size: 24px;
  height: auto;
  padding-bottom: 5%;
}
.regDiv {
  margin-top: 3%;
}
