body {
  background-image: url("https://images.pexels.com/photos/1619541/pexels-photo-1619541.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}
.navLinks a {
  margin-left: 5%;
  text-decoration: none;
  color: gray;
  font-size: 20px;
}
.navLinks {
  text-align: right;
  margin: 1% 10% 0 0;
}
.appDiv {
  float: right;
}
.App {
  box-sizing: border-box;
}
