body {
  background-image: url("https://images.unsplash.com/photo-1499852848443-3004d6dc4cfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}
.navLinks a {
  margin-left: 5%;
  text-decoration: none;
  color: rgb(243, 131, 4);
  font-size: 2em;
}
.navLinks {
  animation-name: text-focus-in;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  text-align: right;
  background: rgba(0, 0, 0, 0.811);
  padding-right: 15%;
  width: 110%;
  margin-top: 1vh;
  margin-bottom: 5vh;
  border-radius: 25px;
  border: 2px solid rgb(243, 131, 4);
}
.appDiv {
  float: right;
}
.App {
  box-sizing: border-box;
}
